<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="tabs"></ion-back-button>
    <ion-title>Clock In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/verify-fingerprint']" routerLinkActive="router-link-active" >
      <ion-label>Fingerprint</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/verify-face']" routerLinkActive="router-link-active" >
      <ion-label>Face</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
