<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="tabs/members" slot="start"></ion-back-button>
    <ion-title>Add Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="employeeForm">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="id" type="text" placeholder="Employee Id"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="firstname" type="text" placeholder="First Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="lastname" type="text" placeholder="Last Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="password" type="text" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="department" type="text" placeholder="Department"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="designation" type="text" placeholder="Designation"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="shift" type="text" placeholder="Shift"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="shiftTime" type="text" placeholder="Shift Timings"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input formControlName="salary" type="text" placeholder="Salary"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-select value="min" formControlName="perUnitTime" interface="popover" placeholder="per unit time">
            <ion-select-option value="hr">per hour</ion-select-option>
            <ion-select-option value="min">per minute</ion-select-option>
            <ion-select-option value="sec">per second</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button color="warning" shape="round" >
          Cancel
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="addEmployee()" type="submit" [disabled]="!employeeForm.valid" shape="round" class="ion-float-right">
          Add
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
