<ion-header>
  <ion-toolbar>
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-employee']"><ion-icon name="person-add"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Search Name" type="text"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light" (click)="openFilterModal()">
          <ion-icon name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="members">
    <ion-list *ngFor="let member of members | async">
      <ion-item [routerLink]="['/tabs/others-profile', member.uid]" routerLinkActive="router-link-active" >
        <ion-avatar slot="start">
          <img src="./assets/user.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ member.firstname }} {{ member.lastname }} </h2>
          <p>{{ member.designation }}</p>
        </ion-label>
        <ion-badge slot="end" color="success" *ngIf="member.role === 'admin'">Admin</ion-badge> 
      </ion-item>
    </ion-list>
  </div>
</ion-content>